.body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.gradient-button {
  background: linear-gradient(to right, #3498db, #8e44ad);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  margin-top: 25px;
}
.lonkk {
  margin-left: 50px;
}
button {
  background-color: rgb(26, 26, 211);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 25px;
}
.input {
  margin: 15px;
  width: 325px;
  height: 60px;
  border-radius: 10px;
}
.tca {
  margin-top: 5px;
  border: 2px solid lightgray;
  padding: 20px;
  border-radius: 10px;
  background-color: #f7f7f7;
  max-width: 450px;
  margin: 0 auto;
  box-shadow: 4px 4px 4px gray;
}
.or-separator {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

hr {
  flex: 1;
  border: 0;
  border-top: 1px solid #ccc;
}

.or-text {
  margin: 0 10px;
  color: #777;
}
img {
  width: 30px;
  height: 30px;
  padding-bottom: 0px;
}
span {
  text-align: center;
}
