nav {
  background-color: #f4f4f4;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 75px;
  box-shadow: 5px 20px 25px #888888;
  position: relative;
  z-index: 2;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
}

ul li {
  margin: 0 25px;
  text-decoration: none;
}
ul li a {
  text-decoration: none;
  color: black;
  font-size: large;
}

.logo {
  margin-right: 0;
}

.logo img {
  height: 50px;
  width: 100px;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.actions {
  display: flex;
  align-items: center;
  margin-left: 0;
  padding-left: 0;
}

.actions button {
  margin-left: 20px;
  background-color: blue;
  margin-top: auto;
  color: white;
  cursor: pointer;
  width: 125px;
  height: 40px;
  border-radius: 25px;
  border-color: aliceblue;
  font-size: large;
}
