.cont {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(253, 226, 243));
  margin-top: 10px;
  position: relative;
  z-index: 1;
  margin-bottom: 5px;
}
.wise {
  font-weight: 0.5em;
  font-size: 1.75em;
}
.img1 {
  width: 320px;
  height: 300px;
}
.cont1 {
  margin-top: 20px;
}
.cont2 {
  margin-top: 20px;
}
.biid {
  font-size: 3em;
}
